#footer .style h6{
    color: rgb(179, 10, 10);
}
#footer {
    background-color: rgb(2, 5, 21);;
}
#foot {
    background-color:rgb(11, 10, 21);
}
nav{
    background-color:rgba(155, 153, 153,0.8);
}
